.cart {
    margin-right: 0;
    background-color: rgb(248, 190, 119);
    height: 570px;
    position: sticky;
    top: 0;
    padding: 20px;
}

.cart h4 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-bottom: 5px;
    color: #696969;
}

.cart h5 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    color: #696969;
}

.btn-clear-data {
    width: 100%;
    background-color: rgba(255, 48, 48, 1);
    color: white;
    font-size: 21px;
    font-family: "Lato";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border-radius: 4px;

}